<div class="container">
    <div class="col-xs-10">
        <form (ngSubmit)="editPatient(f)" #f="ngForm">
            <div class="form-name">
                <label for="name">Patient name</label>
                <input
                    type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    init ="WSwa"
                    value="{{patient.name}}"
                    placeholder="Enter patient name"
                    [(ngModel)] = "patient.name"
                    required
                    #name = "ngModel"
                >
                <span class="help-block" *ngIf ="!name.valid && name.touched" style="color: red;">please enter a name</span>
            </div>
            <div class="form-group">
                <label for="age">Patient age</label>
                <input
                    type="number"
                    id="age"
                    class="form-control"
                    name="age"
                    value="{{patient.age}}"
                    [(ngModel)] = "patient.age"
                    disabled
                    placeholder="Age is auto set by birthday"
                    required
                    #age = "ngModel"
                    pattern="/^(?!(?:0|0\.0|0\.00)$)[+]?\d+(\.\d|\.\d[0-9])?$/"
                >
                <span class="help-block" *ngIf ="!age.valid && age.touched" style="color: red;">please enter a valid age</span>
            </div>
            <div class="form-group">
                <label for="birthday">BirthDate</label>
                <input
                    type="date"
                    id="birthday"
                    class="form-control"
                    name="birthday"
                    value="{{patient.birthday}}"
                    [(ngModel)] = "patient.birthday"
                    required
                    (change)="onDateChange(f)"
                    #birthday = "ngModel"
                >
                <span class="help-block" *ngIf ="!birthday.valid && birthday.touched" style="color: red;">please enter a valid birthdate</span>
            </div>
            <select id="gender" [(ngModel)]="patient.gender" name="gender" aria-placeholder="Select Gender" class="form-control">
                <option *ngFor="let gender of genders" [value]="gender.value" >{{gender.type}}</option>
            </select> 
            
            <button class="btn btn-primary my-2 mr-sm-2" type="submit" routerLink="../addPatient" [disabled]="!f.valid">Edit patient</button>
        </form>
    </div>
</div>