<div class="container">
    <div class="col-xs-10">
        <form (ngSubmit)="login(f)" #f="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text"
                    id="name"
                    class="form-control"
                    name="name"
                    ngModel
                    required
                    #email = "ngModel"
                >
                <span class="help-block" *ngIf ="!email.valid && email.touched">please enter a vaild username</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    ngModel
                    required
                    #password = "ngModel"
                >
                <span class="help-block" *ngIf ="!password.valid && password.touched">please enter a vaild password</span>
            </div>
           
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>